{% extends 'base.html' %}

{% block content %}
<div class="container text-center mt-4">
    <h2 class="text-primary">Welcome to <b>N & N Medi Shop</b></h2>
    <p class="lead">The platform of best quality</p>

{#    <p class="font-italic">Here You Will Get Best Quality. Best Best Quality Is Our Pride.</p>#}

    <p class="font-weight-bold text-danger">Symbol of Love ❤️</p>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card bg-info text-white shadow-lg">
                <div class="card-body">
                    <h5 class="card-title">Built By</h5>
                    <p class="card-text">
                        <i>Nazneen Nahar</i><br>
                        <i>Nishat Tasnim</i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}